$color-icon: #8b8b8b;

.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    height: 100vh;
    padding: 16px 16px 14px;
    background-color: var(--blue-100);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 8px;

    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: var(--primary-text);
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--white-color);
        box-shadow: var(--shadow-btn);

        &:hover {
            cursor: pointer;
        }

        .icon {
            color: var(--blue-600);
            font-size: 2rem;
        }
    }
}

.cd {
    align-self: center;
    width: 250px;
    margin-bottom: 30px;
}

.current-song {
    text-align: center;
    color: var(--black-color);

    h2 {
        font-size: 20px;
    }
    h4 {
        font-size: 12px;
    }
}

.other {
    display: flex;
    justify-content: space-between;
    margin: 60px 8px 20px;
    color: $color-icon;

    .wrap {
        display: flex;
    }

    .btn ~ .btn {
        margin-left: 20px;
    }

    .btn:hover {
        cursor: pointer;
    }

    .heart-icon,
    .download-icon,
    .btn.active,
    .btn.active {
        color: var(--blue-600);
    }

    .download-icon {
        font-size: 1.8rem;
    }
}

.control {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 80px;

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $color-icon;
        background: linear-gradient(to right bottom, var(--blue-100), var(--blue-300));
        box-shadow: 1px 1px 4px #999, -1px -1px 4px #e9f8fc, inset 1px 1px 4px var(--blue-300),
            inset -1px -1px 4px var(--blue-100);

        &:hover {
            cursor: pointer;
        }
    }

    .btn-toggle-play {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--blue-600);
        color: var(--white-color);
        box-shadow: inset 2px 2px 10px var(--blue-700), inset -2px -2px 10px var(--blue-300);

        &:hover {
            cursor: pointer;
        }

        &::after {
            position: absolute;
            z-index: 1;
            content: '';
            width: 97%;
            height: 97%;
            border-radius: 50%;
            background-color: transparent;
            border: 3px solid var(--blue-500);
        }
    }
}
