// PLAY LIST
.playlist {
    position: relative;
    height: calc(100vh - 276px);
    margin-top: 276px;
    padding: 10px 12px 60px;
    background-color: var(--blue-100);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
}

// DASHBOARD CURRENT SONG
.dashboard-current-song {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 480px;
    width: 100%;
    background-color: var(--blue-600);
    z-index: 1;

    &:hover {
        cursor: pointer;
    }
}

.thumbnail {
    width: 45px;
    height: 45px;
    margin: 0 10px;
    flex-shrink: 0;
}

@keyframes moveLeft {
    0% {
        transform: translateX(350px);
    }
    100% {
        transform: translateX(-100%);
    }
}

.body {
    position: absolute;
    left: 65px;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 400px;
    overflow: hidden;
    color: var(--white-color);
    z-index: -1;

    .name {
        display: block;
        animation: moveLeft 10s linear infinite;
        font-size: 1.5rem;
    }
}

.option {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    background-color: var(--blue-600);

    .toggle-play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: var(--white-color);
        color: var(--blue-600);
    }

    .close-btn {
        margin-top: 4px;
        padding: 8px;
        font-size: 1.8rem;
        color: var(--white-color);
        cursor: pointer;
    }
}
