//header
.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    height: 276px;
    background: linear-gradient(to bottom, var(--blue-500), var(--blue-100));
    z-index: 10;
}

.header {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 0 10px;

    img {
        border-radius: 10px;
        width: 30%;
    }

    .title {
        padding-top: 16px;
        color: var(--primary-text);
    }

    p {
        font-size: 1.4rem;
        color: var(--secondary-text);
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #f4a8c4;
    box-shadow: var(--shadow-btn);
    background: var(--white-color);

    &:hover {
        cursor: pointer;
    }

    .icon {
        color: var(--blue-600);
        font-size: 2rem;
    }
}
