/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
        display: flex;
        align-items: center;
        color: #666;
        margin: 0 18px;
        font-size: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    .btn.active,
    .btn-prev,
    .btn-next {
        color: var(--blue-600);
    }

    .btn-toggle-play {
        width: 56px;
        height: 56px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // font-size: 24px;
        color: var(--blue-600);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white-color);
    }
}
